@import "tailwindcss";
@import "tw-animate-css";

/* @theme {
  --color-primary: #e69019;
  --color-background-light: #f8f7f6;
  --color-background-dark: #211a11;
  --color-charcoal: #333333;
  --color-espresso: #3d2b1f;
  --color-clay: #887863;
} */
