@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #e69019;
  --color-background-light: #f8f7f6;
  --color-background-dark: #211a11;
  --color-charcoal: #333333;
  --color-espresso: #3d2b1f;
  --color-clay: #887863;
}

body{
    scroll-behavior: smooth;
    @apply bg-background-light text-charcoal dark:bg-background-dark dark:text-white;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v311/kJEPBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzBwG-RpA6RzaxHMPdY40KH8nGzv3fzfVJO1Q.woff2) format('woff2');
}